#UpcomingHeading {
  background-color: #ff9999;
  padding: 8px;
  text-align: center;
  font-size: 1rem;
}
.left {
  margin: 16px;
}
.right {
  margin: 16px;
}
.flex-container {
  display: flex;
}
.Home {
  display: flex;
  flex-direction: column;
}
.container-sub {
  width: 100%;
}
